<div class="clearfix">
  <h1 class="pull-left">ex.{{ moduleName }}</h1>
  <p class="pull-right source-file"><a class="btn btn-primary btn-xs" href="{{pkg.author.git}}/blob/v{{pkg.version}}/{{file}}#L{{line}}"><i class="fa fa-file-text"></i> {{file}}</a></p>
</div>

{{#if uses}}
<strong>Uses:</strong>
{{#each uses}}
  <a href="{{this}}.html">{{this}}</a>
{{/each}}
{{/if}}
{{#if extends}}
  <strong>Inheritance:</strong>
  <ul class="list-unstyled">
    {{#extends}}
    <li>{{{nbsp @index 4}}}<a href="{{ this }}.html">{{ this }}</a></li>
    {{/extends}}
    <li>{{{nbsp extends.length 4}}}{{moduleName}}</li>
  </ul>
{{/if}}

<div class="well">
{{{ classDescription }}}
</div>

{{#if is_constructor}}
  <h2>Constructor</h2>
  {{>method}}
{{/if}}

{{#if properties}}
  <div class="clearfix">
    <h2 class="pull-left">Properties</h2>
    <div class="member-visibility pull-right checkbox">
      <label><input type="checkbox" checked value="inherited"> Show Inherited</label>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
  {{#withSort properties "name"}}
  {{>props}}
  {{/withSort}}
{{/if}}
</table>

{{#if methods}}
  <div class="clearfix">
    <h2 class="pull-left">Methods</h2>
    <div class="member-visibility pull-right checkbox">
      <label><input type="checkbox" checked value="inherited"> Show Inherited</label>
    </div>
  </div>
  {{#withSort methods "name"}}
  {{>method}}
  {{/withSort}}
{{/if}}