<a name="{{name}}"></a>
<div class="panel panel-default method {{#if extended_from}}member-inherited{{/if}}">
  <div class="panel-heading">
    <code>{{#if is_constructor}}new ex.{{moduleName}}{{else}}{{ name }}{{/if}}({{{paramList}}}){{#if returnType}}: {{returnType}}{{/if}}</code>
    {{#if isPrivate}}<span class="label label-danger pull-right">private</span>{{/if}}
    {{#if extended_from}}<a href="{{extended_from}}.html#{{name}}" class="label label-default pull-right">Inherited from {{extended_from}}</a>{{/if}}
  </div>
  {{#if params}}
  <table class="table params">
  {{#params}}
    <tr>
      <td><code>{{name}}{{#if optional}}?{{/if}}{{#if optdefault}} = {{optdefault}}{{/if}}</code></td>
      <td>{{{typeLink type}}}</td>
      <td>{{{description}}}</td>
    </tr>
  {{/params}}
  </table>
  {{/if}}
  <div class="panel-body">
    {{#if description}}
      {{{description}}}
    {{else}}
      <i class="text-muted">This method has no description</i>
    {{/if}}
  </div>  
</div>