[submodule "snippets/sample-breakout"]
	path = snippets/sample-breakout
	url = https://github.com/excaliburjs/sample-breakout.git
	ignore = dirty
[submodule "snippets/excalibur-snippets"]
	path = snippets/excalibur-snippets
	url = https://github.com/excaliburjs/excalibur-snippets.git
