[submodule "showcase/shmup"]
	path = showcase/shmup
	url = https://github.com/eonarheim/Excalibur-Shmup
[submodule "Excalibur"]
	path = Excalibur
	url = https://github.com/excaliburjs/Excalibur
	ignore = dirty