sudo: false
language: node_js
node_js:
- '6.12.2'
branches:
  only:
  - site
cache:
  directories:
  - node_modules
  - $HOME/.npm
env:
  global:
  - GH_REF: github.com/excaliburjs/excaliburjs.github.io.git
  - GH_RELEASE_TAG: master
  - GH_RELEASE_SIZE: 0
  - GH_RELEASE_GZIP: 0
addons:
  apt:
    packages:
    - jq
before_install:
- gem install sass -v 3.4.24
before_script:
# Query Github for latest release tag
- ! 'export GH_RELEASE_TAG=$(curl -s -H "Authorization: token $GH_TOKEN" https://api.github.com/repos/excaliburjs/Excalibur/releases/latest | jq -r ".tag_name")'
# Download latest release (minified)
- ! 'curl -o excalibur.min.js -H "Accept: application/vnd.github.v3.raw" -L "https://api.github.com/repos/excaliburjs/excalibur-dist/contents/dist/excalibur.min.js?ref=$GH_RELEASE_TAG"'
# Export file size
- export GH_RELEASE_SIZE="$(ls -la excalibur.min.js | awk '{ print $5}')"
# Gzip file
- gzip excalibur.min.js
# Export gzipped size
- export GH_RELEASE_GZIP="$(ls -la excalibur.min.js.gz | awk '{ print $5}')"
script:
- grunt travis
after_success:
- chmod ugo+x deploy.sh
- ! '[ "${TRAVIS_PULL_REQUEST}" != "false" ] || ./deploy.sh'
notifications:
  slack:
    secure: smD+hnNSy3lhrD9zuDabdItTErnVh465hoCJMovHN/+8+y0vVu41Z9UdaFcZga1QRhwf9fnqgs2UmeE52B76ptntvbg1YZfQ7u8RlAgy6Tp7nXrLOoso0TX05pvHgL27qXzmZyZQilj2bS0pUPI0OS2Nx19cUtNoDU89boRI1VU=
