.index-menu .item {
  justify-content: center;
}

.sponsor-options {
  display:flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.sponsor-button {
  display: block;
  text-align: center;
  width: 200px;
  height: 200px;
  padding: 10px;

  background-image: url(/assets/images/donate/patreon.png);
  background-position: 50% 70%;
  background-size: 100px;
  background-repeat: no-repeat;

  border: solid 3px;
  border-radius: 6px;


  text-align: center;
  text-decoration: none;
  transition: transform .25s;
}

.sponsor-button:hover {
  transform: scale(1.1);
}

.patreon {
  background-image: url(/assets/images/donate/patreon.png);
}

.gh-sponsor {
  background-image: url(/assets/images/donate/original.png);
}

@media (min-width: 768px) {
  .index-menu {
    float: right;
  }

  .index-menu .item {
    justify-content: unset;
  }
}
