---
layout: default
---

<div class="body">
  <div class="container">

    <div class="row">
      <div class="sidebar col-sm-3">

          {{{docs_sidebar docs.sidebar pages}}}
          
          <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">API Documentation</h3></div>
            <div class="panel-body">
              <ul class="nav">
                  <li><a href="/docs/api/">View Documentation</a></li>
              </ul>  
            </div>
          </div>
      </div>

      <div class="col-sm-9">
{{#markdown}}
{{> body }}
{{/markdown}}
        <hr/>
        <a href="{{ pkg.homepage }}/blob/site/{{ page.src }}">Contribute to or modify this page</a>
      </div>
    </div>
  </div>
</div>
